
.container-fluid{
    padding-top: 5%;
}

#Buttons-end{
    margin-top: 6%;
}

#Review{
    margin-top: 15%;
}

#Button_last{
    width:20%;
}

#Grid{
    width:200%;
    /* margin-top: 40%; */
    margin-top: 0.6rem;
}  

#Q{
    font-size: 2vw;
}

#OP{
    font-size: 2vw;    
}

#timer{
    margin: 3% 22%;
}

.p{
    border: solid 1px red;
}