
.container-fluid{
    padding-top: 5%;
}

#Buttons-end{
    margin-top: 6%;
}

#Review{
    margin-top: 15%;
}

#Button_last{
    width:20%;
    font-size: 2vw;
}

#Grid{
    width:200%;
    /* margin-top: 40%; */
    margin-top: 0.6rem;
    
}  

#Q{
    font-size: 2vw;
}

#OP{
    font-size: 2vw;    
}

#timer{
    margin: 3% 22%;
}

.p{
    border: solid 1px red;
}

.floating{
    position: fixed;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-185%, 0);
  } 

  .floating a{
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    font-size: 2vw;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 5%;
    padding: 8%;
    width: 200%;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;
  }
  
  .floating a:hover{
    transform: translate(40%, 0);
  }

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 576px) {
    .mobile{
        display:none;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 576px) {
    .not-mobile{
        display: none;
    }
    
  }